
/*
	Special+Elite|Share:400,400italic,700,700italic|Fredericka+the+Great|Iceland|Cutive+Mono|Ribeye+Marrow
*/

$jspress-main-font: "Open Sans" Helvetica Arial sans-serif;
$jspress-logo-font: "Share" Times serif;

$jspress-bg-color: #ccc;
$jspress-fg-color: #333;

$jspress-panel-nav-size: 15px;
$jspress-panel-width: 200px;
