html
	head
		title JSPress - Retiring Wordpress ;-)
		link(rel="stylesheet",href="lib/font-awesome.css")
		link(rel="stylesheet",href="css/style.css")
	body
		header
			h1 JSPress - Retiring Wordpress ;-)
			button.btn#convert-markdown-html Convert Markdown to HTML
			button.btn#convert-html-markdown Convert HTML to Markdown
		.editor-layout
			textarea#markdown-editor

			div#html-editor

		//- libs
		script(src="lib/jquery.js")
		script(src="lib/lodash.js")
		script(src="lib/marked.js")
		//- app
		script(src="js/init.js")
	