html
	head
		title JSPress - Retiring Wordpress ;-)
		link(rel="stylesheet",href="lib/font-awesome.css")
		link(rel="stylesheet",href="css/style.css")
	body
		h1 JSPress - Retiring Wordpress ;-)
		button#convert-markdown-html Convert Markdown to HTML
		button#convert-html-markdown Convert HTML to Markdown
		.layout
			textarea#markdown-editor
			div#html-editor

		//- libs
		script(src="lib/jquery.js")
		script(src="lib/lodash.js")
		//- app
		script(src="js/init.js")
	