html
	head
		title JSPress - Retiring Wordpress ;-)
		link(rel="stylesheet",href="lib/font-awesome/css/font-awesome.css")
		link(rel="stylesheet",href="css/style.css")
	body
		header
			h1 JSPress - Retiring Wordpress ;-)
			button#toggle-wysiwyg.active(rel="#wysiwyg-editor") WYSIWYG
			button#toggle-markdown(rel="#markdown-editor") Markdown
		.editor-layout
			div#wysiwyg-editor.active(contenteditable="true")
			textarea#markdown-editor

		//- libs
		script(src="lib/jquery/dist/jquery.js")
		script(src="lib/lodash/lodash.js")
		script(src="lib/marked/lib/marked.js")
		script(src="lib/to-markdown/dist/to-markdown.js")
		script(src="lib/tinymce/tinymce.min.js")
		//- app
		script(src="js/selections.js")
		script(src="js/init.js")
	