html
	head
		title JSPress - Retiring Wordpress ;-)
		link(rel="stylesheet",href="lib/font-awesome/css/font-awesome.css")
		link(rel="stylesheet",href="css/style.css")
	body
		header
			a#toggle-menu.fa.fa-bars
			h1 JSPress
			h2#article-title(contenteditable="true") New Article
			.article-menu
				a.fa.fa-save
				a.fa.fa-cog
				a.fa.fa-plus
		.editor-layout#editor
			div#wysiwyg-editor.editor-area.active(contenteditable="true")
			textarea#markdown-editor.editor-area
			.editor-toolbar
				button#toggle-wysiwyg.active(rel="#wysiwyg-editor") WYSIWYG
				button#toggle-markdown(rel="#markdown-editor") Markdown


		//- libs
		script(src="lib/jquery/dist/jquery.js")
		script(src="lib/lodash/lodash.js")
		script(src="lib/marked/lib/marked.js")
		script(src="lib/to-markdown/dist/to-markdown.js")
		script(src="lib/deep-diff/index.js")
		//- app
		script(src="js/selections.js")
		script(src="js/jspress/editor.js")
		script(src="js/init.js")
	