html
	head
		title JSPress - Retiring Wordpress ;-)
		link(rel="stylesheet",href="/lib/font-awesome/css/font-awesome.css")
		link(rel="stylesheet",href="/css/admin.css")
	body
		.layout
			.side-panel
				h3 File List
				ul#file-list
					li: a README.md
					li: a index.md
					li: a about.md
					li: a news.md
			header
				a.jspress-panel-toggle.fa.fa-bars(data-toggle-ref=".side-panel",data-toggle-class="opened")
				h1 JSPress
				h2#article-title(contenteditable="true") New Article
				.article-menu
					a.fa.fa-save#file-save
					a.fa.fa-cog
					a.fa.fa-plus#file-new
			.editor#editor
				div#wysiwyg-editor.editor-area.active(contenteditable="true")
				textarea#markdown-editor.editor-area
				.editor-toolbar
					button#toggle-wysiwyg.active(rel="#wysiwyg-editor") WYSIWYG
					button#toggle-markdown(rel="#markdown-editor") Markdown


		//- libs
		script(src="/lib/jquery/dist/jquery.js")
		script(src="/lib/lodash/lodash.js")
		script(src="/lib/marked/lib/marked.js")
		script(src="/lib/to-markdown/dist/to-markdown.js")
		script(src="/lib/deep-diff/index.js")
		//- app
		script(src="/js/jspress/editor.js")
		script(src="/js/admin.js")
	